{% extends 'main/base.html' %}{% load static %} {% block content %}

<div>
  {% comment %} Container 1 {% endcomment %}
  <div class="container">
    <div class="hero">
      <h1>Welcome to Cricket Pose Estimator</h1>
      <p>
        Pose estimation is a computer vision technique that predicts and tracks
        the location of a person or object. This is done by looking at a
        combination of the pose and the orientation of a given person/object.
      </p>
      <br />
      <div class="button">
        <a href="#next">Read more</a>
        <a href="{% url 'predictHome' %}">Predict</a>
      </div>
    </div>
    <img
      style="height: 400px"
      src="{% static 'images/cricket.jpg' %}"
      alt="Man playing cricket"
    />
  </div>

  <hr />

  {% comment %} Container 2 {% endcomment %}

  <div class="container" id="next">
    <img
      style="height: 400px"
      src="{% static 'images/cricket-2.jpg' %}"
      alt="Man playing cricket"
    />
    <div class="hero">
      <h1>How we do it?</h1>
      <p>
        To find the pose of a cricket player, we are looking out for joints of
        the player. A valid connection between two joints is called as pair or
        limb. We are using MoveNet SinglePose Thunder model available in
        TensorFlow Hub to find the different joints and form pairs
      </p>
    </div>
  </div>
  <hr />
  {% comment %} Container 3 {% endcomment %}

  <div class="container">
    <div class="hero">
      <h1>Technology stack</h1>
      <ul>
        <li>TensorFlow</li>
        <li>Python</li>
        <li>Django</li>
        <li>OpenCV</li>
        <li>HTML, CSS</li>
        <li>Convolutional Neural Networks</li>
      </ul>
    </div>
    <img
      style="height: 400px"
      src="{% static 'images/cricket-3.jpg' %}"
      alt="Man playing cricket"
    />
  </div>
  <hr />
</div>
{% endblock content%}
